main{

    display: flex;
    justify-content: center;
    
}
.container{
  background-color: black;
  max-width: 100%;
<<<<<<< HEAD
 border: solid 5px blue;
=======
  
>>>>>>> 368b6e4971c13475af8d6ee9172e9cc69df809bc
  margin-top: 15px; 
}



.logo{
    width: 120px;   
    
    
}



.logo-2{
    width: 120px;
    
    

}

.titulo{
    color: blue;
    
     
}



.cabecalho{
    display: flex;
   align-items: center;
   margin: 14px;
   
     
}

.moto{
    width: 120px;
    margin: 18px;
}

.cabecalho-2{
    display: flex;
    align-items: center;
    background-color: #4f4f4f;
    justify-content: space-between;
   

    

}

.contato{
    list-style: none;
    font-size: 35px;
    margin-right:25px;
    color: aliceblue;
     
}

.cartoes{
    font-size: 27px;
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
}

.bomba-filtro{
    font-size: 42px;
    background-color: red;
    color: aliceblue;
    text-align: center;
    padding: 15px;
}


.galao-azul{
    width: 120px;
   
    
}

.galao-laranja{
    width: 120px;

    
    
}

.galoes {
    padding: 15px;
    display: flex;
    background-color: white;

   
    
}



.frase ul{
    list-style: none;
    font-size: 45px;
    margin: 25px 


  
}


