main {

    display: flex;
    justify-content: center;
    background-size: cover;
    height: 100vh;

}

.container {

    width: 100%;
    border: solid 5px purple;
    min-height: 100vh;
}



.logo {
    width: 120px;


}



.logo-2 {
    width: 120px;




}

.titulo {
    color: blue;


}



.cabecalho {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;



}

.moto {
    width: 120px;
    margin: 18px;
}

.cabecalho-2 {
    display: flex;
    align-items: center;
    background-color: #4f4f4f;
    justify-content: space-between;




}

.contato {
    list-style: none;
    font-size: 35px;
    margin-right: 25px;
    color: aliceblue;

}

.cartoes {
    font-size: 27px;
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
}

.bomba-filtro {
    font-size: 42px;
    background-color: red;
    color: aliceblue;
    text-align: center;
    padding: 15px;
}


.galao-azul {
    width: 100px;


}

.galao-laranja {
    width: 120px;
    




}

.galoes {
    margin: 10px;
    display: flex;
    background-color: white;
    justify-content: space-between;

}



.galoes p {
    display:flex;
    list-style: none;
    font-size: 45px;
    margin: 25px;
    
}